@import url(https://fonts.googleapis.com/css?family=Rhodium+Libre);
.main{
	background-color: #7B68EE;
    text-align: center;
    width: 100%;
    height: 100%;    
 	position: fixed;
 	font-family: 'Rhodium Libre', serif;
 	color: white;
}
.main>.container>h1{
	margin-top: 100px;

}